.blue-title{
    -fx-text-fill: rgb(0, 163, 255);
    -fx-font-size: 30px;
    -fx-font-weight: bold;
}

.white-word{
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 18px;
}

.blue-word{
    -fx-text-fill: rgb(0, 163, 255);
    -fx-font-size: 14px;
}

.blue-background{
    -fx-background-color: rgb(192, 229, 242);
}

.orange-button{
    -fx-background-color: rgb(246, 149, 129);
    -fx-background-radius: 40px;
    -fx-text-fill: #FFFFFF;
}

.blue-button-return{
    -fx-background-color: rgb(0, 163, 255);
    -fx-background-radius: 10px;
    -fx-text-fill: #FFFFFF;
}

.blue-button-long{
    -fx-background-color: rgb(0, 163, 255);
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 5px;
    -fx-pref-width: 200px;
    -fx-pref-height: 16px;
}
.blue-button-shout{
    -fx-background-color: rgb(149, 199, 233);
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16px;
    -fx-pref-width: 200px;
    -fx-pref-height: 20px;
    -fx-text-alignment: center;
}
.text-field-small-radius{
    -fx-background-radius: 5px;
    -fx-pref-height: 10px;
    -fx-pref-width: 200px;
}

.text-field-large-radius{
    -fx-background-radius: 20px;
    -fx-pref-height: 16px;
    -fx-pref-width: 200px;
}



